In [206]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [212]:
password = getpass()

········

In [213]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [214]:
type(engine)

sqlalchemy.engine.base.Engine

In [215]:
query ='''    SELECT 
    f.title, 
    f.rental_rate, 
    f.length, 
    f.rating, 
    f.special_features,
    COUNT(r.rental_id) AS num_rentals,

    CASE WHEN SUM(CASE WHEN DATE_FORMAT(r.rental_date, '%%Y-%%m') = '2005-05' THEN 1 ELSE 0 END) >= 1 THEN 'Rented' ELSE 'Not Rented' END AS rented_in_may
FROM 
    film f
LEFT JOIN 
    inventory i ON f.film_id = i.film_id
LEFT JOIN 
    rental r ON i.inventory_id = r.inventory_id
GROUP BY 
    f.film_id;'''
print(query)
data = pd.read_sql_query(query, engine)
data.head()

    SELECT
    f.title,
    f.rental_rate,
    f.length,
    f.rating,
    f.special_features,
    COUNT(r.rental_id) AS num_rentals,

    CASE WHEN SUM(CASE WHEN DATE_FORMAT(r.rental_date, '%%Y-%%m') = '2005-05' THEN 1 ELSE 0 END) >= 1 THEN 'Rented' ELSE 'Not Rented' END AS rented_in_may
FROM
    film f
LEFT JOIN
    inventory i ON f.film_id = i.film_id
LEFT JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    f.film_id;

,title,rental_rate,length,rating,special_features,num_rentals,rented_in_may
0,ACADEMY DINOSAUR,0.99,86,PG,"Deleted Scenes,Behind the Scenes",23,Rented
1,ACE GOLDFINGER,4.99,48,G,"Trailers,Deleted Scenes",7,Not Rented
2,ADAPTATION HOLES,2.99,50,NC-17,"Trailers,Deleted Scenes",12,Rented
3,AFFAIR PREJUDICE,2.99,117,G,"Commentaries,Behind the Scenes",23,Rented
4,AFRICAN EGG,2.99,130,G,Deleted Scenes,12,Rented

In [216]:
#     SELECT 
#     f.film_id, 
#     f.title, 
#     f.rental_rate, 
#     f.length, 
#     f.rating, 
#     f.special_features, 
#     DATE_FORMAT(LEFT(r.rental_date, 10), '%Y-%m') AS rental_date,
#     SUM(CASE WHEN DATE_FORMAT(r.rental_date, '%Y-%m') = '2005-05' THEN 1 ELSE 0 END) AS repetition_count,
#     CASE WHEN SUM(CASE WHEN DATE_FORMAT(r.rental_date, '%Y-%m') = '2005-05' THEN 1 ELSE 0 END) >= 1 THEN 'Rented' ELSE 'Not Rented' END AS rented_in_may
# FROM 
#     film f
# LEFT JOIN 
#     inventory i ON f.film_id = i.film_id
# LEFT JOIN 
#     rental r ON i.inventory_id = r.inventory_id
# GROUP BY 
#     f.film_id;

In [217]:
data.shape

(1000, 7)

In [218]:
y = data['rented_in_may']
X =data.drop('rented_in_may', axis=1)
X =X.drop('title', axis=1)
X

,rental_rate,length,rating,special_features,num_rentals
0,0.99,86,PG,"Deleted Scenes,Behind the Scenes",23
1,4.99,48,G,"Trailers,Deleted Scenes",7
2,2.99,50,NC-17,"Trailers,Deleted Scenes",12
3,2.99,117,G,"Commentaries,Behind the Scenes",23
4,2.99,130,G,Deleted Scenes,12
...,...,...,...,...,...
995,0.99,183,G,"Trailers,Behind the Scenes",7
996,0.99,179,NC-17,"Trailers,Behind the Scenes",6
997,0.99,105,NC-17,Deleted Scenes,9
998,2.99,101,R,"Trailers,Deleted Scenes",17
999,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",31

In [219]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [220]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)
X_train_norm

     rental_rate    length  num_rentals
0            1.0  0.769784     0.235294
1            0.0  0.151079     0.705882
2            0.5  0.258993     0.588235
3            1.0  0.223022     0.852941
4            0.0  0.733813     0.470588
..           ...       ...          ...
795          0.0  0.151079     0.176471
796          0.0  0.683453     0.558824
797          1.0  0.467626     0.617647
798          1.0  0.906475     0.411765
799          0.5  0.316547     0.441176

[800 rows x 3 columns]

In [221]:
X_train_categorical = X_train.select_dtypes(include = object)
X_train_cat = pd.get_dummies(X_train_categorical, 
                             columns=['special_features','rating'],
                             drop_first=True)
X_train_cat

,special_features_Commentaries,"special_features_Commentaries,Behind the Scenes","special_features_Commentaries,Deleted Scenes","special_features_Commentaries,Deleted Scenes,Behind the Scenes",special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes",rating_NC-17,rating_PG,rating_PG-13,rating_R
46,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
789,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
722,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
283,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
39,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
232,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
860,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
189,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
151,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [222]:
X_test_num = X_test.select_dtypes(include = np.number)

# Scaling data
# we use the transformer that was trained on the training data
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized)
X_test_norm

       0         1         2
0    0.0  0.374101  0.264706
1    0.5  0.964029  0.411765
2    0.5  0.316547  0.617647
3    0.5  0.618705  0.000000
4    0.0  0.453237  0.882353
..   ...       ...       ...
195  0.0  0.402878  0.500000
196  0.5  0.446043  0.558824
197  0.5  0.273381  0.764706
198  0.0  0.294964  0.617647
199  1.0  0.402878  0.323529

[200 rows x 3 columns]

In [223]:
# for categoricals
X_test_categorical = X_test.select_dtypes(include = object)
X_test_cat = pd.get_dummies(X_test_categorical, 
                            columns=['special_features','rating'],
                            drop_first=True)
X_test_cat

,special_features_Commentaries,"special_features_Commentaries,Behind the Scenes","special_features_Commentaries,Deleted Scenes","special_features_Commentaries,Deleted Scenes,Behind the Scenes",special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes",rating_NC-17,rating_PG,rating_PG-13,rating_R
977,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
56,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
801,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
747,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
369,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
470,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
806,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
639,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [224]:
X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

In [225]:
X_train_transformed

array([[1.        , 0.76978417, 0.23529412, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.15107914, 0.70588235, ..., 0.        , 1.        ,
        0.        ],
       [0.5       , 0.25899281, 0.58823529, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [1.        , 0.4676259 , 0.61764706, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.90647482, 0.41176471, ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 0.31654676, 0.44117647, ..., 0.        , 1.        ,
        0.        ]])

In [226]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_train_transformed, y_train)

In [227]:
list(zip(list(X_train_cat.columns),list(X_test_cat.columns)))

[('special_features_Commentaries', 'special_features_Commentaries'),
 ('special_features_Commentaries,Behind the Scenes',
  'special_features_Commentaries,Behind the Scenes'),
 ('special_features_Commentaries,Deleted Scenes',
  'special_features_Commentaries,Deleted Scenes'),
 ('special_features_Commentaries,Deleted Scenes,Behind the Scenes',
  'special_features_Commentaries,Deleted Scenes,Behind the Scenes'),
 ('special_features_Deleted Scenes', 'special_features_Deleted Scenes'),
 ('special_features_Deleted Scenes,Behind the Scenes',
  'special_features_Deleted Scenes,Behind the Scenes'),
 ('special_features_Trailers', 'special_features_Trailers'),
 ('special_features_Trailers,Behind the Scenes',
  'special_features_Trailers,Behind the Scenes'),
 ('special_features_Trailers,Commentaries',
  'special_features_Trailers,Commentaries'),
 ('special_features_Trailers,Commentaries,Behind the Scenes',
  'special_features_Trailers,Commentaries,Behind the Scenes'),
 ('special_features_Trailers,Commentaries,Deleted Scenes',
  'special_features_Trailers,Commentaries,Deleted Scenes'),
 ('special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
  'special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes'),
 ('special_features_Trailers,Deleted Scenes',
  'special_features_Trailers,Deleted Scenes'),
 ('special_features_Trailers,Deleted Scenes,Behind the Scenes',
  'special_features_Trailers,Deleted Scenes,Behind the Scenes'),
 ('rating_NC-17', 'rating_NC-17'),
 ('rating_PG', 'rating_PG'),
 ('rating_PG-13', 'rating_PG-13'),
 ('rating_R', 'rating_R')]

In [228]:
list(X_train_cat.columns)==list(X_test_cat.columns)

True

In [229]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

In [230]:
predictions = classification.predict(X_test_transformed)
predictions
classification.score(X_test_transformed, y_test)

0.775

In [231]:
print(y_test.value_counts())

Rented        138
Not Rented     62
Name: rented_in_may, dtype: int64

In [232]:
pd.Series(predictions).value_counts()

Rented        149
Not Rented     51
dtype: int64

In [233]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 34,  28],
       [ 17, 121]])

In [234]:
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=3, weights='uniform')
clf.fit(X_train_transformed, y_train)

KNeighborsClassifier(n_neighbors=3)

In [235]:
predictions_clf = clf.predict(X_test_transformed)
clf.score(X_test_transformed, y_test)

0.645

In [236]:
confusion_matrix(y_test, predictions_clf)

array([[ 20,  42],
       [ 29, 109]])

In [237]:
pd.Series(y_test).value_counts()

Rented        138
Not Rented     62
Name: rented_in_may, dtype: int64

In [238]:
pd.Series(predictions_clf).value_counts()

Rented        151
Not Rented     49
dtype: int64

In [239]:
#I think that a logistic regression model works well in this case, I did another model to see if I could improve my prediction but was worst.